
.form {
  display: flex;
  width: 50%;
}

.title {
  width: 50%;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  max-width: 1000px;
  margin: auto;
}

button {
  background: #D7B399;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 14px;
  border: none;
  height: 40px;
  cursor: pointer;
}

button:active {
  background-color: #0F0F0F;
  transition: background-color 0.1s;
}

input {
  background: #F9F6F1 !important;
  max-width: 255px !important;
  height: 40px !important;
  padding: 0px 8px !important;
  border-bottom: 0 !important;
  margin-right: 30px !important;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 911px) {
  .title {
    width: 100%;
  }

  h2 {
    font-size: 20px;
    margin: 0 5px;
  }

  .form {
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
  }

  .wrap {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .input {
    max-width: 150px !important;
  }
}

@media (max-width: 400px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .input {
    max-width: 80% !important;
    margin: 0 !important;
  }

  button {
    width: 80%;
    margin-top: 10px;
  }
}
