<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <div class="logoIMG">
          <div style="margin-right: 20px">
            <img style="width: 40px; height: 40px" src="../../../assets/ninja.png" alt="*">
          </div>
          <div>
            <img style="width: 141px" src="../../../assets/LogoPorten.png" alt="Logo">
          </div>
        </div>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>


      <div class="col l6 s12" style="display: flex; justify-content: space-around; min-height: 163px">
        <div>
          <h5>Основные ссылки</h5>
          <ul class="social">
            <li><a target="_blank" href="#">О компании</a></li>
            <li><a target="_blank" href="#">Каталог</a></li>
            <li><a target="_blank" href="#">Доставка</a></li>
            <li><a target="_blank" href="#">Оплата</a></li>
          </ul>
        </div>
        <div class="social">
          <h5>Соц Сети</h5>
          <ul>
            <li><img src="../../../assets/icon/vk.png" alt="vk"> <a target="_blank" href="https://www.vk.com/">VK.com</a></li>
            <li><img src="../../../assets/icon/facebook.png" alt="face"> <a target="_blank " href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="../../../assets/icon/instagram.png" alt="insta"> <a target="_blank " href="https://www.instagram.com/">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
