footer {
  font-family: 'PT Sans', sans-serif;
}
.page-footer {
  background-color: black;
}

.footer-copyright {
  background-color: rgba(51, 51, 51, 0.8);
}

.logoIMG {
  display: flex;
}

.social img {
  width: 20px;
  height: 16px;
  margin-right: 8px;
}

.social li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social li a {
  color: #CBCFD4;
  font-family: 'PT Sans', sans-serif;
}
.social li a:hover {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 105%;
  transition: all 0.38s;
}
