<div style=" background-color: #0F0F0F;">
  <div class="container row wrap_line_top">
    <div class="nav-left">
      <div>
        <div class="logo"></div>
      </div>
    </div>
    <div class="nav-right">
    <div style="height: 100%">
      <ul class="list-item">
        <li class="item">Понравилось</li>
        <li class="item">Личный кабинет</li>
        <li class="item">Настройки</li>
        <li class="item">
          <div class="basket_img"></div>
        </li>
        <li class="search_item">
          <div class="search_img"></div>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>

