<!--<nav>-->
<!--  <div class="nav-wrapper">-->
<!--    <a href="#" class="brand-logo">Shop4you</a>-->
<!--    <ul id="nav-mobile" class="right hide-on-med-and-down">-->
<!--      <li><a href="sass.html">Оплата</a></li>-->
<!--      <li><a href="badges.html">Доставка</a></li>-->
<!--      <li><a href="collapsible.html">О компании</a></li>-->
<!--      <li><a href="collapsible.html">Каталог</a></li>-->
<!--      <li><a href="collapsible.html">Контакты</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--</nav>-->


<ul id="dropdown1" class="dropdown-content" [ngClass]="openMenu && 'open'">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
  <li><a href="#!">fore</a></li>
  <li><a href="#!">five</a></li>
  <li class="divider"></li>
  <li><a href="#!">six</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li (click)="open()"><a class="dropdown-trigger" href="#" data-target="dropdown1">Menu<i class="dropPos fas fa-caret-down"></i></a></li>
    </ul>
    <ul class="mobile right">
      <li (click)="open()"><a style="position: relative" class="dropdown-trigger" href="#" data-target="dropdown1">Menu <i class="dropPosMenu fas fa-caret-down"></i></a></li>
    </ul>
  </div>
</nav>
