.nav-wrapper{
  padding: 0 2rem;
  background-color: black;
}

#nav-mobile li:hover{
  background-color: grey;
}

.open{
  display: block;
  opacity: 1;
  right: 0px;
  top: 65px;
}

.mobile{
  display: none;
}

.dropPos{
  position: absolute;
  right: 25px;
}

.dropPosMenu{
  position: absolute;
  top: 15px;
  right: -6px;
}

@media (max-width: 768px) {
  .mobile{
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo{
    left: 12%;
  }
}

