html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.sw-item{
  background: url("../../../assets/mainTitle.png") center center no-repeat;
  background-size: 1920px 810px;
  width: 100%;
  height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 320px;
  height: 320px;
}

.text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 730px;
  margin-top: 80px;
}
